@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Estedad";
    src:
      local("Estedad"),
      url("/Assets/Fonts/Estedad-Regular.woff2") format("woff");
  }
}

::-ms-reveal {
  display: none;
  background:;
}

/* ///////////////////////////////////////////////////////////// */

/* Search bar  */
.search--active-sm {
  @apply m-1 flex h-9 w-80 items-center justify-between rounded-md border-Neutral-Gray-7 bg-Neutral-Gray-8 p-2;
}
